# Configuración de Servidor de Correo SMTP (Gmail / Outlook / Otro)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_contrasena_de_aplicacion

# Destinatario del correo donde recibirás los enlaces directos
EMAIL_TO=ozonito@gmail.com

